/* Stylesheet for the 'amberjack' Plone theme */
.ajHighlight {
	background: yellow !important;
	font-weight: bold;
}

.ajLink{
	font-size: 9px;
	color:#000000;
	float:left;
}
.ajLink:hover{
	background-color: yellow;
}

.ajDescr{
	float:left;
	width: 80%;
}