/* Stylesheet for the 'amberjack' Plone theme */
.ajHighlight {
	background: yellow !important;
	font-weight: bold;
}

.ajLink {
	font-size: 9px;
	color: #000000;
	float: left;
}
.ajLink:hover {
	background-color: yellow;
}

.ajSteps li{
	padding-bottom: 10px;
	margin-left: 15px;
	list-style-type: square; 
	clear:both;
}

.ajDescr{
	float: left;
	width: 80%;
	padding-right: 10px;
}